<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <!--RabbitMq dados-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="queueMQ" value="Auditoria" />
    <add key="hostnameMQ" value="localhost" />
    <add key="usernameMQ" value="guest" />
    <add key="passwordMQ" value="guest" />
    <add key="autoRecoveryMQ" value="true" />
    <add key="networkRecoveryIntervalMQ" value="10" />
    <add key="maximumChannelMQ" value="1" />
    
    <!--URL do Acessos - Teste-->
    <add key="acessos" value="http://cfc-acessos.tst.basis.com.br/" />
    
    <!--URL do Acessos - Homologação-->
    <!--<add key="acessos" value="http://cfc-acessos.hom.basis.com.br/" />-->
  
    <!--URL do Acessos - Produção-->
    <!--<add key="acessos" value="http://acessos.cfc.org.br/" />-->

  </appSettings>
  
  <connectionStrings>
    <add name="AuditoriaContext" connectionString="metadata=res://*/Model.AuditoriaBD.csdl|res://*/Model.AuditoriaBD.ssdl|res://*/Model.AuditoriaBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.1.12;initial catalog=CFC.AUDITORIA;persist security info=True;user id=app_cfc_auditoria;password=audit159;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
            <dependentAssembly> 
                 <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" /> 
            </dependentAssembly> 
       </assemblyBinding>
  </runtime>

</configuration>